.featureSvg {
    height: 100px;
    width: 100px;
}

.featureIcon {
    color: var(--ifm-color-primary);
}

.features {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}
