# The Nyx CI pipeline running on GitHub Actions
#
# The pipeline uses Gradle tasks for each job and in order to make it incremental the cache is used to store
# the various 'build' directories between tasks (considering each job runs on a different fresh node).
# See https://docs.gradle.org/current/userguide/build_cache.html for more on the Gradle Build Cache.
#
# CACHE
# The cache is scoped to the current pipeline so every new pipeline starts with no cache, while each job
# ends by caching its cached outputs so that next jobs can start from there.
# If the cache action finds a stored cache with the given key it pulls when it's setting up but never updates
# it in the post actions. You can see this behavior at the end of a job when it says:
#     Cache hit occurred on the primary key Linux-nyx-gradle-XYZ, not saving cache.
# The problem with this approach if using the same cache key in all jobs is that only the first job updates
# the cache but next jobs always get the cache from the first job, not from next ones.
# To work around this problem each job uses a 'restore-keys' with the key generated from the previous
# job, while its own 'key' is specific (and can be used by next jobs). This produces a chain of caches
# but it's the only way to have the cache incremented at each job.
# To make sure the cache is used take a look at the logs and see the Gradle tasks status (UP-TO-DATE).

on: [push]

jobs:
  assemble:
    runs-on: ubuntu-latest
    steps:
    - name: Git checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    # Start with a new empty cache (no restore-keys) and save the job output cache as -assemble
    - name: Set up the pipeline cache
      uses: actions/cache@v2
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
          build/
          **/build/
        key: ${{ runner.os }}-nyx-gradle-${{ github.run_id }}-${{ github.job }}
        #restore-keys: not used here, start from scratch
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Assemble with Gradle
      run: ./gradlew assemble --build-cache --stacktrace
    - name: Archive Nyx state file
      uses: actions/upload-artifact@v2
      if: ${{ always() }}
      with:
        name: .nyx-state-${{ github.job }}.json
        path: build/.nyx-state.json
    - name: Archive Jar
      uses: actions/upload-artifact@v2
      with:
        name: jar
        path: '**/build/libs/'
  
  unit-test:
    needs: assemble
    runs-on: ubuntu-latest
    steps:
    - name: Git checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    # Start from the -assemble cache and save the job output cache as -unit-test
    - name: Set up the pipeline cache
      uses: actions/cache@v2
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
          build/
          **/build/
        key: ${{ runner.os }}-nyx-gradle-${{ github.run_id }}-${{ github.job }}
        restore-keys: |
          ${{ runner.os }}-nyx-gradle-${{ github.run_id }}-assemble
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Run Unit Tests with Gradle
      env:
          # See the top level https://github.com/mooltiverse/nyx/blob/master/CONTRIBUTING.md#contributing-code file for details about passing these values when testing locally
          ORG_GRADLE_PROJECT_gitHubTestUserToken: ${{ secrets.TEST_GITHUB_USER_TOKEN }}   # The test user token to test Nyx GitHub features
          ORG_GRADLE_PROJECT_gitLabTestUserToken: ${{ secrets.TEST_GITLAB_USER_TOKEN }}   # The test user token to test Nyx GitLab features
      run: ./gradlew test --build-cache --stacktrace
    - name: Archive Nyx state file
      uses: actions/upload-artifact@v2
      if: ${{ always() }}
      with:
        name: .nyx-state-${{ github.job }}.json
        path: build/.nyx-state.json
    - name: Archive Test Outputs
      uses: actions/upload-artifact@v2
      if: ${{ always() }}
      with:
        name: unit-test-reports
        path: |
          **/build/reports/
          **/build/test-results/
  
  # These teets may take a very long time to complete and their cache may easily go over the 5GB
  # limit defined by GitHub Actions. This is why they are in a separate job and the output cache
  # may fail to store at the end (but this won't affect other jobs).
  integration-test:
    needs: assemble
    runs-on: ubuntu-latest
    steps:
    - name: Git checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    # Storing the output cache probably fails because the size is over the 5GB. If it fails you
    # see a message like:
    #     Warning: Cache size of ~5456 MB (5720816120 B) is over the 5GB limit, not saving cache.
    # in the 'Post setup the pipeline cache' step of this job.
    # This is not a big deal as the next jobs don't need the output from this one to complete.
    # Start from the -assemble cache and save the job output cache as -integration-test
    - name: Set up the pipeline cache
      uses: actions/cache@v2
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
          build/
          **/build/
        key: ${{ runner.os }}-nyx-gradle-${{ github.run_id }}-${{ github.job }}
        restore-keys: |
          ${{ runner.os }}-nyx-gradle-${{ github.run_id }}-assemble
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Run Integration Tests with Gradle
      run: ./gradlew integrationTest --build-cache --stacktrace
    - name: Archive Nyx state file
      uses: actions/upload-artifact@v2
      if: ${{ always() }}
      with:
        name: .nyx-state-${{ github.job }}.json
        path: build/.nyx-state.json
    # These tests  are still empty so there is no reports to archive and the build produces a warning.
    # Uncomment the following lines when these tests have some output reports to archive.
    #
    #- name: Archive Test Outputs
    #  uses: actions/upload-artifact@v2
    #  if: ${{ always() }}
    #  with:
    #    name: integration-test-reports
    #    path: |
    #      **/build/reports/
    #      **/build/test-results/
  
  # These teets may take a very long time to complete and their cache may easily go over the 5GB
  # limit defined by GitHub Actions. This is why they are in a separate job and the output cache
  # may fail to store at the end (but this won't affect other jobs).
  functional-test:
    needs: assemble
    runs-on: ubuntu-latest
    steps:
    - name: Git checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    # Storing the output cache probably fails because the size is over the 5GB. If it fails you
    # see a message like:
    #     Warning: Cache size of ~5456 MB (5720816120 B) is over the 5GB limit, not saving cache.
    # in the 'Post setup the pipeline cache' step of this job.
    # This is not a big deal as the next jobs don't need the output from this one to complete.
    #
    # Start from the -assemble cache and save the job output cache as -functional-test
    - name: Set up the pipeline cache
      uses: actions/cache@v2
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
          build/
          **/build/
        key: ${{ runner.os }}-nyx-gradle-${{ github.run_id }}-${{ github.job }}
        restore-keys: |
          ${{ runner.os }}-nyx-gradle-${{ github.run_id }}-assemble
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Run Functional Tests with Gradle
      run: ./gradlew functionalTest --build-cache --stacktrace
    - name: Archive Nyx state file
      uses: actions/upload-artifact@v2
      if: ${{ always() }}
      with:
        name: .nyx-state-${{ github.job }}.json
        path: build/.nyx-state.json
    - name: Archive Test Outputs
      uses: actions/upload-artifact@v2
      if: ${{ always() }}
      with:
        name: functional-test-reports
        path: |
          **/build/reports/
          **/build/test-results/

  check:
    needs: [unit-test,integration-test,functional-test]
    runs-on: ubuntu-latest
    steps:
    - name: Git checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    # Start from the -unit-test cache and save the job output cache as -check
    - name: Set up the pipeline cache
      uses: actions/cache@v2
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
          build/
          **/build/
        key: ${{ runner.os }}-nyx-gradle-${{ github.run_id }}-${{ github.job }}
        restore-keys: |
          ${{ runner.os }}-nyx-gradle-${{ github.run_id }}-unit-test
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Finalize Tests with Gradle
      env:
          # See the top level https://github.com/mooltiverse/nyx/blob/master/CONTRIBUTING.md#contributing-code file for details about passing these values when testing locally
          ORG_GRADLE_PROJECT_gitHubTestUserToken: ${{ secrets.TEST_GITHUB_USER_TOKEN }}   # The test user token to test Nyx GitHub features
          ORG_GRADLE_PROJECT_gitLabTestUserToken: ${{ secrets.TEST_GITLAB_USER_TOKEN }}   # The test user token to test Nyx GitLab features
      run: ./gradlew check --build-cache --stacktrace
    - name: Archive Nyx state file
      uses: actions/upload-artifact@v2
      if: ${{ always() }}
      with:
        name: .nyx-state-${{ github.job }}.json
        path: build/.nyx-state.json
    - name: Archive Test Outputs
      uses: actions/upload-artifact@v2
      if: ${{ always() }}
      with:
        name: test-reports
        path: |
          **/build/reports/
          **/build/test-results/

  build:
    needs: [assemble,check]
    runs-on: ubuntu-latest
    steps:
    - name: Git checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    # Start from the -check cache and save the job output cache as -build
    - name: Set up the pipeline cache
      uses: actions/cache@v2
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
          build/
          **/build/
        key: ${{ runner.os }}-nyx-gradle-${{ github.run_id }}-${{ github.job }}
        restore-keys: |
          ${{ runner.os }}-nyx-gradle-${{ github.run_id }}-check
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build --build-cache --stacktrace
    - name: Archive Nyx state file
      uses: actions/upload-artifact@v2
      if: ${{ always() }}
      with:
        name: .nyx-state-${{ github.job }}.json
        path: build/.nyx-state.json
    - name: Archive Javadoc
      uses: actions/upload-artifact@v2
      with:
        name: javadoc
        path: '**/build/docs/javadoc/'

  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      # Start from the -build cache and save the job output cache as -publish
      - name: Set up the pipeline cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            build/
            **/build/
          key: ${{ runner.os }}-nyx-gradle-${{ github.run_id }}-${{ github.job }}
          restore-keys: |
            ${{ runner.os }}-nyx-gradle-${{ github.run_id }}-build
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Publish with Gradle
        env:
          # See the top level https://github.com/mooltiverse/nyx/blob/master/CONTRIBUTING.md#contributing-code file for details about passing these values when testing locally
          ORG_GRADLE_PROJECT_gitHubUser: ${{ secrets.GITHUB_USERNAME }}
          ORG_GRADLE_PROJECT_gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          ORG_GRADLE_PROJECT_ossrhUsername: ${{ secrets.MAVEN_USER }}
          ORG_GRADLE_PROJECT_ossrhPassword: ${{ secrets.MAVEN_PASSWORD }}
          ORG_GRADLE_PROJECT_signingKeyBase64: ${{ secrets.GPG_PRIVATE_KEY_BASE64 }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.GPC_PASSPHRASE }}
          ORG_GRADLE_PROJECT_gradlePublishKey: ${{ secrets.GRADLE_PLUGIN_PUBLISH_KEY }}
          ORG_GRADLE_PROJECT_gradlePublishSecret: ${{ secrets.GRADLE_PLUGIN_PUBLISH_SECRET }}
        run: ./gradlew publish --build-cache --stacktrace
      - name: Archive Nyx state file
        uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: .nyx-state-${{ github.job }}.json
          path: build/.nyx-state.json

  release:
    needs: publish
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      # Start from the -publish cache and save the job output cache as -release
      - name: Set up the pipeline cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            build/
            **/build/
          key: ${{ runner.os }}-nyx-gradle-${{ github.run_id }}-${{ github.job }}
          restore-keys: |
            ${{ runner.os }}-nyx-gradle-${{ github.run_id }}-publish
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Release with Gradle
        env:
          # See the top level https://github.com/mooltiverse/nyx/blob/master/CONTRIBUTING.md#contributing-code file for details about passing these values when testing locally
          ORG_GRADLE_PROJECT_gitHubUser: ${{ secrets.GITHUB_USERNAME }}
          ORG_GRADLE_PROJECT_gitHubToken: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew release --build-cache --info --stacktrace
      - name: Archive Nyx state file
        uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: .nyx-state-${{ github.job }}.json
          path: build/.nyx-state.json
