# Publish Docusausus sites.

name: Docusaurus Publish

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      runs-on:
        description: |-
          Define the type of machine to run the job on.
          Default: ubuntu-latest
        type: string
        required: false
        default: 'ubuntu-latest'
      verbosity:
        description: |-
          Sets the verbosity level to adjust the output logs verbosity.
          Allowed values are: 'error', 'warning', 'quiet', 'info', 'debug'.
          Default: quiet
        type: string
        required: false
        default: 'quiet'
      gradle-arguments:
        description: |-
          The whitespace separated list of Gradle arguments to pass on the
          Gradle command line. See also 'gradle-secret-arguments' for passing
          sensitive values.
          For example you may use '--build-cache', '--stacktrace', '--parallel',
          '--no-parallel' etc.
          Verbosity levels are automatically inferred by the value of 'verbosity'.
          For more see: https://docs.gradle.org/current/userguide/command_line_interface.html.
          Default: --build-cache --stacktrace
        type: string
        required: false
        default: "--build-cache --stacktrace"
      gradle-tasks:
        description: |-
          The whitespace separated list of Gradle tasks to run.
          Default: src:docker:publish
        type: string
        required: false
        default: "docs:publish"
      install-jdk:
        description: |-
          Whether to install the JDK or not.
          For more see: https://github.com/actions/setup-java.
          Please note that the tools come preinstalled in many hosted GitHub
          runner images and re-installing would just slow down the setup process.
          Consider installing only when the runners don't have it preinstalled or
          when you need a specific version.
          To check out if it's already installed see:
          - https://docs.github.com/en/actions/using-github-hosted-runners/using-github-hosted-runners/about-github-hosted-runners#preinstalled-software
          Default: true
        type: boolean
        required: false
        default: true
      install-jdk-distribution:
        description: |-
          The JDK distribution to setup if 'install-jdk' is 'true'.
          For available distributions see: https://github.com/actions/setup-java.
          Default: temurin
        type: string
        required: false
        default: 'temurin'
      install-jdk-version:
        description: |-
          The JDK version to setup if 'install-jdk' is 'true'.
          For available versions see: https://github.com/actions/setup-java.
          Default: 21
        type: string
        required: false
        default: '21'
      install-gradle:
        description: |-
          Whether to install Gradle or not.
          For more see: https://github.com/gradle/actions/blob/main/docs/setup-gradle.md.
          Please note that the tools come preinstalled in many hosted GitHub
          runner images and re-installing would just slow down the setup process.
          Consider installing only when the runners don't have it preinstalled or
          when you need a specific version.
          To check out if it's already installed see:
          - https://docs.github.com/en/actions/using-github-hosted-runners/using-github-hosted-runners/about-github-hosted-runners#preinstalled-software
          Default: false
        type: boolean
        required: false
        default: false
      install-gradle-version:
        description: |-
          The Gradle version to setup if 'install-gradle' is 'true'.
          There are a few aliases that can be used here: 'wrapper' uses the version
          defined in the Gradle wrapper (recommended), 'current' uses the latest
          stable release.
          For available versions see: https://github.com/gradle/actions/blob/main/docs/setup-gradle.md.
          Default: wrapper
        type: string
        required: false
        default: 'wrapper'
      install-node:
        description: |-
          Whether to install Node or not.
          For more see: https://github.com/actions/setup-node.
          Please note that the tools come preinstalled in many hosted GitHub
          runner images and re-installing would just slow down the setup process.
          Consider installing only when the runners don't have it preinstalled or
          when you need a specific version.
          To check out if it's already installed see:
          - https://docs.github.com/en/actions/using-github-hosted-runners/using-github-hosted-runners/about-github-hosted-runners#preinstalled-software
          Default: false
        type: boolean
        required: false
        default: false
      install-node-version:
        description: |-
          The Node SDK version to setup if 'install-node' is 'true'.
          For available versions see: https://github.com/actions/setup-node.
          Default: latest
        type: string
        required: false
        default: 'latest'
      nyx-cache-mode:
        description: |-
          Whether to enable the cache and, if enabled, how to use it.
          Consider that disabling the cache or making it read only may help speeding
          up the workflow and not incurring in cache size limits.
          Allowed values are: 'read-write', 'read-only', 'write-only', 'disabled'.
        type: string
        required: false
        default: 'read-only'
      nyx-cache-name:
        description: |-
          The prefix to use for the cache that will be used by this workflow.
          This is useful to 'chain' caches, so here you can pass a previous cache
          to make this workflow start from that one cache.
          This is useful to 'chain' caches, so here you can pass a previous cache
          to make this workflow start from that one cache.
          When setting this prefix to some specific feature you won't be able to
          merge the caches and in case you 'chain' them you can only use one
          upstream cache for each downstream job.
          If the cache to read does not exists a new one will be created from
          scratch without errors.
          Default: nyx-\$\{\{ github.job \}\} (reuse the same cache for the entire
          workflow so Nyx is initialized once and its outputs are reused).
        type: string
        required: false
        default: "nyx-${{ github.run_id }}"
      nyx-cache-from:
        description: |-
          The name of cache this Action will read from to initialize Action cache.
          The contents of this cache, when it exists, will be imported into the
          Action cache.
          This is useful to 'chain' caches, so here you can pass a previous cache
          to make this workflow start from that.
          If the cache to read does not exists a new one will be created from
          scratch without errors.
          Default: none
        type: string
        required: false
        default: ""
      gradle-cache-mode:
        description: |-
          Whether to enable the cache and, if enabled, how to use it.
          Consider that disabling the cache or making it read only may help speeding
          up the workflow and not incurring in cache size limits.
          Allowed values are: 'read-write', 'read-only', 'write-only', 'disabled'.
        type: string
        required: false
        default: 'read-only'
      gradle-cache-name:
        description: |-
          The prefix to use for the cache that will be used by this workflow.
          This is useful to 'chain' caches, so here you can pass a previous cache
          to make this workflow start from that one cache.
          This is useful to 'chain' caches, so here you can pass a previous cache
          to make this workflow start from that one cache.
          When setting this prefix to some specific feature you won't be able to
          merge the caches and in case you 'chain' them you can only use one
          upstream cache for each downstream job.
          If the cache to read does not exists a new one will be created from
          scratch without errors.
        type: string
        required: false
        default: "gradle-${{ github.run_id }}-docusaurus-publish"
      gradle-cache-from:
        description: |-
          The name of cache this Action will read from to initialize Action cache.
          The contents of this cache, when it exists, will be imported into the
          Action cache.
          This is useful to 'chain' caches, so here you can pass a previous cache
          to make this workflow start from that.
          If the cache to read does not exists a new one will be created from
          scratch without errors.
          Default: none
        type: string
        required: false
        default: "gradle-${{ github.run_id }}-docusaurus-build"
      docusaurus-cache-mode:
        description: |-
          Whether to enable the cache and, if enabled, how to use it.
          Consider that disabling the cache or making it read only may help speeding
          up the workflow and not incurring in cache size limits.
          Allowed values are: 'read-write', 'read-only', 'write-only', 'disabled'.
        type: string
        required: false
        default: 'read-only'
      docusaurus-cache-name:
        description: |-
          The prefix to use for the cache that will be used by this workflow.
          This is useful to 'chain' caches, so here you can pass a previous cache
          to make this workflow start from that one cache.
          This is useful to 'chain' caches, so here you can pass a previous cache
          to make this workflow start from that one cache.
          When setting this prefix to some specific feature you won't be able to
          merge the caches and in case you 'chain' them you can only use one
          upstream cache for each downstream job.
          If the cache to read does not exists a new one will be created from
          scratch without errors.
        type: string
        required: false
        default: "docusaurus-${{ github.run_id }}-publish"
      docusaurus-cache-from:
        description: |-
          The name of cache this Action will read from to initialize Action cache.
          The contents of this cache, when it exists, will be imported into the
          Action cache.
          This is useful to 'chain' caches, so here you can pass a previous cache
          to make this workflow start from that.
          If the cache to read does not exists a new one will be created from
          scratch without errors.
        type: string
        required: false
        default: "docusaurus-${{ github.run_id }}-build"
      path:
        description: |-
          The path, relative to the local repository, where the site artifacts
          to publish are.
          Note this must be the path of the built site, not the site source.
          Default: docs
        type: string
        required: false
        default: "docs"
      enable-github-pages:
        description: |-
          Whether to deploy the site to GitHub pages or not.
          GitHub pages must be enabled for the repository or the whole
          organization in advance, through GitHub settings.
          Sites are supposed to be published to GitHub pages only from the
          'main' (or 'master') branch, but you can override this using
          this input value.
          Consider setting this value conditionally true when invoking
          this workflow based on the current branch, like:
              enable-github-pages: \$\{\{ github.ref == 'refs/heads/main' \}\}
          Default: false
        type: boolean
        required: false
        default: false
      enable-s3-bucket:
        description: |-
          Whether to deploy the site to an S3 bucket or not.
          When this is enabled the 'aws-access-key-id' input and
          the 'aws-secret-access-key' secret must also be set to pass
          the credentials needed to access the S3 bucket.
          Sites are supposed to be published to S3 buckets only from the
          'main' (or 'master') branch, but you can override this using
          this input value.
          Consider setting this value conditionally true when invoking
          this workflow based on the current branch, like:
              enable-s3-bucket: \$\{\{ github.ref == 'refs/heads/main' \}\}
          Default: false
        type: boolean
        required: false
        default: false
      aws-region:
        description: |-
          The AWS region to use for remote API.
          This is usually the value of the AWS_REGION environment variable.
        type: string
        required: false
      aws-access-key-id:
        description: |-
          The AWS access key ID to use for remote API.
          This is usually the value of the AWS_ACCESS_KEY_ID environment variable.
        type: string
        required: false
      aws-s3-bucket:
        description: |-
          The name of the S3 bucket to upload the contents to when
          'enable-s3-bucket' is true.
        type: string
        required: false
    secrets:
      gradle-secret-arguments:
        description: |-
          The whitespace separated list of Gradle arguments to pass on the
          Gradle command line. This is for passing sensitive values.
          See also 'gradle-arguments' for passing non sensitive values.
          For example you may use '--quiet', '--warn', '--info', '--debug' to
          set the verbosity level.
          For more see: https://docs.gradle.org/current/userguide/command_line_interface.html.
        required: false
      aws-secret-access-key:
        description: |-
          The AWS access key ID to use for remote API.
          This is usually the value of the AWS_SECRET_ACCESS_KEY environment variable.
        required: false
    outputs:
      gradle-cache-name:
        description: "The suffix of the name used by the last cache in this workflow. This is useful to 'chain' caches, so you can pass this value as input for other actions or workflows."
        value: ${{ jobs.publish.outputs.gradle-cache-name }}
      docusaurus-cache-name:
        description: "The suffix of the name used by the last cache in this workflow. This is useful to 'chain' caches, so you can pass this value as input for other actions or workflows."
        value: ${{ jobs.publish.outputs.docusaurus-cache-name }}

env:
  # Compute the extra Gradle properties to use for Gradle commands.
  # Here:
  # - we add one argument for the verbosity level passed in the 'verbosity' input
  GRADLE_EXTRA_OPTS: >-
    ${{ inputs.verbosity == 'warning' && '--warn' || '' }}
    ${{ inputs.verbosity == 'quiet' && '--quiet' || '' }}
    ${{ inputs.verbosity == 'info' && '--info' || '' }}
    ${{ inputs.verbosity == 'debug' && '--debug' || '' }}

jobs:
  publish:
    name: Publish
    runs-on: ${{ inputs.runs-on }}
    permissions:
      # Grant GITHUB_TOKEN the permissions required to make a Pages deployment.
      # Here we need to grant the extra permissions 'pages' and 'id-token' in addition to the
      # standard ones.
      contents: read    # to fetch the Git repository contents
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    #environment:
    #  name: github-pages
    #  url: ${{ steps.github-pages-deploy.outputs.page_url }}
    steps:
    - uses: mooltiverse/nyx/.github/actions/setup-git@ghwfcache
      with:
        verbosity: ${{ inputs.verbosity }}
    - id: nyx
      uses: mooltiverse/nyx/.github/actions/setup-nyx@ghwfcache
      with:
        # Just restore the cache
        enable-action: false
        verbosity: ${{ inputs.verbosity }}
        cache-mode: ${{ inputs.nyx-cache-mode }}
        cache-name: ${{ inputs.nyx-cache-name }}
        cache-from: ${{ inputs.nyx-cache-from }}
    - id: docusaurus
      uses: mooltiverse/nyx/.github/actions/setup-docusaurus@ghwfcache
      with:
        verbosity: ${{ inputs.verbosity }}
        install-node: ${{ inputs.install-node }}
        install-node-version: ${{ inputs.install-node-version }}
        cache-mode: ${{ inputs.docusaurus-cache-mode }}
        cache-name: ${{ inputs.docusaurus-cache-name }}
        cache-from: ${{ inputs.docusaurus-cache-from }}
    - id: gradle
      uses: mooltiverse/nyx/.github/actions/setup-gradle@ghwfcache
      with:
        verbosity: ${{ inputs.verbosity }}
        install-jdk: ${{ inputs.install-jdk }}
        install-jdk-version: ${{ inputs.install-jdk-version }}
        install-jdk-distribution: ${{ inputs.install-jdk-distribution }}
        install-gradle: ${{ inputs.install-gradle }}
        install-gradle-version: ${{ inputs.install-gradle-version }}
        cache-mode: ${{ inputs.gradle-cache-mode }}
        cache-name: ${{ inputs.gradle-cache-name }}
        cache-from: ${{ inputs.gradle-cache-from }}
    - name: Publish the Docusaurus sites using Gradle scripts
      shell: bash
      run: ./gradlew ${{ inputs.gradle-arguments }} ${{ secrets.gradle-secret-arguments }} ${{ env.GRADLE_EXTRA_OPTS }} ${{ inputs.gradle-tasks }}
    - id: github-pages-upload
      name: Upload the Docusaurus site to GitHub Pages
      if: ${{ inputs.enable-github-pages }}
      uses: actions/upload-pages-artifact@v3
      with:
        path: ${{ inputs.path }}
    - id: github-pages-deploy
      name: Deploy the Docusaurus site to GitHub Pages
      if: ${{ inputs.enable-github-pages }}
      uses: actions/deploy-pages@v4
    - name: Authenticating to AWS in region ${{ inputs.aws-region }} with access key ${{ inputs.aws-access-key-id }}
      uses: aws-actions/configure-aws-credentials@v4
      if: ${{ inputs.enable-s3-bucket }}
      with:
        aws-region: ${{ inputs.aws-region }}
        aws-access-key-id: ${{ inputs.aws-access-key-id }}
        aws-secret-access-key: ${{ secrets.aws-secret-access-key }}
    - id: s3-bucket-upload
      name: Upload the Docusaurus site to S3
      if: ${{ inputs.enable-s3-bucket }}
      shell: bash
      run: aws s3 sync ${{ inputs.path }} s3://${{ inputs.aws-s3-bucket }} --delete
    outputs:
      docusaurus-cache-name: ${{ steps.docusaurus.outputs.cache-name }}
      gradle-cache-name: ${{ steps.gradle.outputs.cache-name }}
