# Publish Go artifacts.

name: Go Publish

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      runs-on:
        description: |-
          Define the type of machine to run the job on.
          Default: ubuntu-latest
        type: string
        required: false
        default: 'ubuntu-latest'
      verbosity:
        description: |-
          Sets the verbosity level to adjust the output logs verbosity.
          Allowed values are: 'error', 'warning', 'quiet', 'info', 'debug'.
          Default: quiet
        type: string
        required: false
        default: 'quiet'
      gradle-arguments:
        description: |-
          The whitespace separated list of Gradle arguments to pass on the
          Gradle command line. See also 'gradle-secret-arguments' for passing
          sensitive values.
          For example you may use '--quiet', '--warn', '--info', '--debug' to
          set the verbosity level.
          For more see: https://docs.gradle.org/current/userguide/command_line_interface.html.
          Default: --build-cache --stacktrace'
        type: string
        required: false
        default: "--build-cache --stacktrace"
      gradle-tasks:
        description: |-
          The whitespace separated list of Gradle tasks to run.
          Default: src:go:publish
        type: string
        required: false
        default: "src:go:publish"
      install-jdk:
        description: |-
          Whether to install the JDK or not.
          For more see: https://github.com/actions/setup-java.
          Please note that the tools come preinstalled in many hosted GitHub
          runner images and re-installing would just slow down the setup process.
          Consider installing only when the runners don't have it preinstalled or
          when you need a specific version.
          To check out if it's already installed see:
          - https://docs.github.com/en/actions/using-github-hosted-runners/using-github-hosted-runners/about-github-hosted-runners#preinstalled-software
          Default: false
        type: boolean
        required: false
        default: true
      install-jdk-distribution:
        description: |-
          The JDK distribution to setup if 'install-jdk' is 'true'.
          For available distributions see: https://github.com/actions/setup-java.
          Default: temurin
        type: string
        required: false
        default: 'temurin'
      install-jdk-version:
        description: |-
          The JDK version to setup if 'install-jdk' is 'true'.
          For available versions see: https://github.com/actions/setup-java.
          Default: 21
        type: string
        required: false
        default: '21'
      install-gradle:
        description: |-
          Whether to install Gradle or not.
          For more see: https://github.com/gradle/actions/blob/main/docs/setup-gradle.md.
          Please note that the tools come preinstalled in many hosted GitHub
          runner images and re-installing would just slow down the setup process.
          Consider installing only when the runners don't have it preinstalled or
          when you need a specific version.
          To check out if it's already installed see:
          - https://docs.github.com/en/actions/using-github-hosted-runners/using-github-hosted-runners/about-github-hosted-runners#preinstalled-software
          Default: false
        type: boolean
        required: false
        default: false
      install-gradle-version:
        description: |-
          The Gradle version to setup if 'install-gradle' is 'true'.
          There are a few aliases that can be used here: 'wrapper' uses the version
          defined in the Gradle wrapper (recommended), 'current' uses the latest
          stable release.
          For available versions see: https://github.com/gradle/actions/blob/main/docs/setup-gradle.md.
          Default: wrapper
        type: string
        required: false
        default: 'wrapper'
      install-go:
        description: |-
          Whether to install Go or not.
          For more see: https://github.com/actions/setup-go.
          Please note that the tools come preinstalled in many hosted GitHub
          runner images and re-installing would just slow down the setup process.
          Consider installing only when the runners don't have it preinstalled or
          when you need a specific version.
          To check out if it's already installed see:
          - https://docs.github.com/en/actions/using-github-hosted-runners/using-github-hosted-runners/about-github-hosted-runners#preinstalled-software
          Default: false
        type: boolean
        required: false
        default: false
      install-go-version:
        description: |-
          The Go SDK version to setup if 'install-go' is 'true'.
          For available versions see: https://github.com/actions/setup-go.
          Default: stable
        type: string
        required: false
        default: 'stable'
      nyx-cache-mode:
        description: |-
          Whether to enable the cache and, if enabled, how to use it.
          Consider that disabling the cache or making it read only may help speeding
          up the workflow and not incurring in cache size limits.
          Allowed values are: 'read-write', 'read-only', 'write-only', 'disabled'.
        type: string
        required: false
        default: 'read-only'
      nyx-cache-name:
        description: |-
          The prefix to use for the cache that will be used by this workflow.
          This is useful to 'chain' caches, so here you can pass a previous cache
          to make this workflow start from that one cache.
          This is useful to 'chain' caches, so here you can pass a previous cache
          to make this workflow start from that one cache.
          When setting this prefix to some specific feature you won't be able to
          merge the caches and in case you 'chain' them you can only use one
          upstream cache for each downstream job.
          If the cache to read does not exists a new one will be created from
          scratch without errors.
          Default: nyx-\$\{\{ github.job \}\} (reuse the same cache for the entire
          workflow so Nyx is initialized once and its outputs are reused).
        type: string
        required: false
        default: "nyx-${{ github.run_id }}"
      nyx-cache-from:
        description: |-
          The name of cache this Action will read from to initialize Action cache.
          The contents of this cache, when it exists, will be imported into the
          Action cache.
          This is useful to 'chain' caches, so here you can pass a previous cache
          to make this workflow start from that.
          If the cache to read does not exists a new one will be created from
          scratch without errors.
          Default: none
        type: string
        required: false
        default: ""
      gradle-cache-mode:
        description: |-
          Whether to enable the cache and, if enabled, how to use it.
          Consider that disabling the cache or making it read only may help speeding
          up the workflow and not incurring in cache size limits.
          Allowed values are: 'read-write', 'read-only', 'write-only', 'disabled'.
        type: string
        required: false
        default: 'read-only'
      gradle-cache-name:
        description: |-
          The prefix to use for the cache that will be used by this workflow.
          This is useful to 'chain' caches, so here you can pass a previous cache
          to make this workflow start from that one cache.
          This is useful to 'chain' caches, so here you can pass a previous cache
          to make this workflow start from that one cache.
          When setting this prefix to some specific feature you won't be able to
          merge the caches and in case you 'chain' them you can only use one
          upstream cache for each downstream job.
          If the cache to read does not exists a new one will be created from
          scratch without errors.
        type: string
        required: false
        default: "gradle-${{ github.run_id }}-go-publish"
      gradle-cache-from:
        description: |-
          The name of cache this Action will read from to initialize Action cache.
          The contents of this cache, when it exists, will be imported into the
          Action cache.
          This is useful to 'chain' caches, so here you can pass a previous cache
          to make this workflow start from that.
          If the cache to read does not exists a new one will be created from
          scratch without errors.
          Default: none
        type: string
        required: false
        default: "gradle-${{ github.run_id }}-go-build"
      go-cache-mode:
        description: |-
          Whether to enable the cache and, if enabled, how to use it.
          Consider that disabling the cache or making it read only may help speeding
          up the workflow and not incurring in cache size limits.
          Allowed values are: 'read-write', 'read-only', 'write-only', 'disabled'.
        type: string
        required: false
        default: 'read-only'
      go-cache-name:
        description: |-
          The prefix to use for the cache that will be used by this workflow.
          This is useful to 'chain' caches, so here you can pass a previous cache
          to make this workflow start from that one cache.
          This is useful to 'chain' caches, so here you can pass a previous cache
          to make this workflow start from that one cache.
          When setting this prefix to some specific feature you won't be able to
          merge the caches and in case you 'chain' them you can only use one
          upstream cache for each downstream job.
          If the cache to read does not exists a new one will be created from
          scratch without errors.
        type: string
        required: false
        default: "go-${{ github.run_id }}-publish"
      go-cache-from:
        description: |-
          The name of cache this Action will read from to initialize Action cache.
          The contents of this cache, when it exists, will be imported into the
          Action cache.
          This is useful to 'chain' caches, so here you can pass a previous cache
          to make this workflow start from that.
          If the cache to read does not exists a new one will be created from
          scratch without errors.
          If this value is empty (by default) this workflow assumes this
          feature is not used therefore no cache will be restored.
        type: string
        required: false
        default: "go-${{ github.run_id }}-build"
    secrets:
      gradle-secret-arguments:
        description: |-
          The whitespace separated list of Gradle arguments to pass on the
          Gradle command line. This is for passing sensitive values.
          See also 'gradle-arguments' for passing non sensitive values.
          For example you may use '--quiet', '--warn', '--info', '--debug' to
          set the verbosity level.
          For more see: https://docs.gradle.org/current/userguide/command_line_interface.html.
        required: false
    outputs:
      gradle-cache-name:
        description: "The suffix of the name used by the last cache in this workflow. This is useful to 'chain' caches, so you can pass this value as input for other actions or workflows."
        value: ${{ jobs.publish.outputs.gradle-cache-name }}
      go-cache-name:
        description: "The suffix of the name used by the last cache in this workflow. This is useful to 'chain' caches, so you can pass this value as input for other actions or workflows."
        value: ${{ jobs.publish.outputs.go-cache-name }}

env:
  # Compute the extra Gradle properties to use for Gradle commands.
  # Here:
  # - we add one argument for the verbosity level passed in the 'verbosity' input
  GRADLE_EXTRA_OPTS: >-
    ${{ inputs.verbosity == 'warning' && '--warn' || '' }}
    ${{ inputs.verbosity == 'quiet' && '--quiet' || '' }}
    ${{ inputs.verbosity == 'info' && '--info' || '' }}
    ${{ inputs.verbosity == 'debug' && '--debug' || '' }}

jobs:
  publish:
    name: Publish
    runs-on: ${{ inputs.runs-on }}
    steps:
    - uses: mooltiverse/nyx/.github/actions/setup-git@ghwfcache
      with:
        verbosity: ${{ inputs.verbosity }}
    - id: nyx
      uses: mooltiverse/nyx/.github/actions/setup-nyx@ghwfcache
      with:
        # Just restore the cache
        enable-action: false
        verbosity: ${{ inputs.verbosity }}
        cache-mode: ${{ inputs.nyx-cache-mode }}
        cache-name: ${{ inputs.nyx-cache-name }}
        cache-from: ${{ inputs.nyx-cache-from }}
    - id: go
      uses: mooltiverse/nyx/.github/actions/setup-go@ghwfcache
      with:
        verbosity: ${{ inputs.verbosity }}
        install-go: ${{ inputs.install-go }}
        install-go-version: ${{ inputs.install-go-version }}
        cache-mode: ${{ inputs.go-cache-mode }}
        cache-name: ${{ inputs.go-cache-name }}
        cache-from: ${{ inputs.go-cache-from }}
    - id: gradle
      uses: mooltiverse/nyx/.github/actions/setup-gradle@ghwfcache
      with:
        verbosity: ${{ inputs.verbosity }}
        install-jdk: ${{ inputs.install-jdk }}
        install-jdk-version: ${{ inputs.install-jdk-version }}
        install-jdk-distribution: ${{ inputs.install-jdk-distribution }}
        install-gradle: ${{ inputs.install-gradle }}
        install-gradle-version: ${{ inputs.install-gradle-version }}
        cache-mode: ${{ inputs.gradle-cache-mode }}
        cache-name: ${{ inputs.gradle-cache-name }}
        cache-from: ${{ inputs.gradle-cache-from }}
    - name: Publish the Go artifacts
      shell: bash
      run: ./gradlew ${{ inputs.gradle-arguments }} ${{ secrets.gradle-secret-arguments }} ${{ env.GRADLE_EXTRA_OPTS }} ${{ inputs.gradle-tasks }}
    outputs:
      go-cache-name: ${{ steps.go.outputs.cache-name }}
      gradle-cache-name: ${{ steps.gradle.outputs.cache-name }}
