# This workflow takes care of building, testing and publishing the project and
# its artifacts and it uses the 'reusable' workflows.
#
# The whole process is split into jobs, each running on a different node.
# Jobs are executed conditionally, only when required, in order to avoid wasting
# build time on useless jobs.
# Job dependencies also make longer and expensive tasks depend on the success
# of previous, less expensive tasks. If upstream tasks fail, their dependencies
# are not executed.
#
# Moreover, in order to avoid repeating tasks and start one job from where
# previous ones have finished, intermediate artifacts are handed over from one
# job to another by means of caches. Caches have a few caveats though, like
# being read-only. This means that instead of updating an existing cache, one
# needs to create a new one starting from the previous, so that caches are
# somehow 'chained' together, with one link for each job.
#
# This way of modelling the workflow requires extra engineering but allows for
# fine grained control over the pipeline as a whole. It also introduces some
# overhead, but that comes with the benefit of controlling the workflow stage
# by stage. On the other hand, most of this extra effort is solved using our
# custom reusable actions.
#
# Gradle is used under the hood by reusable workflows and composite actions so
# that we use the same build scripts that developers also use locally on their
# workstations. This improves portability and consistency.

name: TEST DELETEME

on:
  workflow_dispatch:
  push:

# Avoid running multiple pipelines concurrently to avoid overlapping releases
# and tags.
# This is required because the current version is determined at the beginning
# of the workflow using Nyx so if multiple workflows run at the same time they
# may receive the same version and try to create overlapping tags and releases.
# With this concurrency settings jobs are on hold until previous pipelines
# have completed.
concurrency:
  group: project
  cancel-in-progress: false

#env:
  # We can't use the 'env' context for reusable workflows, so we need to hardcode
  # the values in each reusable workflow instance.
  #GO_VERSION: 1.22.4
  #JDK_VERSION: 20

jobs:
  #############################################################################
  # Lifecycle and Waypoint Jobs
  #############################################################################
  initialize:
    name: Initialize
    uses: mooltiverse/nyx/.github/workflows/initialize.yml@ghwfcache
  
  build:
    name: Waypoint
    needs:
    - initialize
    - java-build
    - go-build
    - docker-build
    - docusaurus-build
    uses: mooltiverse/nyx/.github/workflows/build.yml@ghwfcache
  
  test:
    name: Waypoint
    needs:
    - initialize
    - build
    uses: mooltiverse/nyx/.github/workflows/test.yml@ghwfcache

  #############################################################################
  # Java Jobs
  #############################################################################

  java-build:
    name: Java Build
    needs:
    - initialize
    uses: mooltiverse/nyx/.github/workflows/java-build.yml@ghwfcache
    with:
      gradle-tasks: tasks
      verbosity: info
      install-jdk: true
      install-jdk-version: 20
      # Restore the cache from the previous job to 'chain' caches
      nyx-cache-from: ${{ needs.initialize.outputs.nyx-cache-name }}
  
  java-publish:
    name: Java Publish
    needs:
    - initialize
    - test
    - java-build
    uses: mooltiverse/nyx/.github/workflows/java-publish.yml@ghwfcache
    with:
      gradle-tasks: tasks
      verbosity: info
      # Avoid hitting the 10GB limit for GitHub Actions cache by using read-only mode on this job
      java-cache-mode: read-only
      install-jdk: true
      install-jdk-version: 20
      # Restore the cache from the previous job to 'chain' caches
      nyx-cache-from: ${{ needs.initialize.outputs.nyx-cache-name }}
      gradle-cache-from: ${{ needs.java-build.outputs.gradle-cache-name }}
      java-cache-from: ${{ needs.java-build.outputs.java-cache-name }}
    secrets:
      # Pass extra properties used by the Gradle scripts to run tests.
      # See the top level
      #   https://github.com/mooltiverse/nyx/blob/main/CONTRIBUTING.md#contributing-code
      # file for details about passing these values when testing locally.
      # Also see:
      # - https://docs.gradle.org/current/userguide/build_environment.html#setting_a_project_property
      gradle-secret-arguments: >-
        -Dorg.gradle.project.gitHubUser=GITHUB
        -Dorg.gradle.project.gitHubToken=${{ secrets.GITHUB_TOKEN }}
        -Dorg.gradle.project.gradlePublishKey="${{ secrets.GRADLE_PLUGIN_PUBLISH_KEY }}"
        -Dorg.gradle.project.gradlePublishSecret="${{ secrets.GRADLE_PLUGIN_PUBLISH_SECRET }}"

  #############################################################################
  # Go Jobs
  #############################################################################

  go-build:
    name: Go Build
    needs:
    - initialize
    uses: mooltiverse/nyx/.github/workflows/go-build.yml@ghwfcache
    with:
      gradle-tasks: tasks
      verbosity: info
      install-go: true
      install-go-version: 1.22.4
      install-jdk: true
      install-jdk-version: 20
      # Restore the cache from the previous job to 'chain' caches
      nyx-cache-from: ${{ needs.initialize.outputs.nyx-cache-name }}

  go-publish:
    name: Go Publish
    needs:
    - initialize
    - test
    - go-build
    uses: mooltiverse/nyx/.github/workflows/go-publish.yml@ghwfcache
    with:
      gradle-tasks: tasks
      verbosity: info
      # Avoid hitting the 10GB limit for GitHub Actions cache by using read-only mode on this job
      go-cache-mode: read-only
      install-go: true
      install-go-version: 1.22.4
      install-jdk: true
      install-jdk-version: 20
      # Restore the cache from the previous job to 'chain' caches
      nyx-cache-from: ${{ needs.initialize.outputs.nyx-cache-name }}
      gradle-cache-from: ${{ needs.go-build.outputs.gradle-cache-name }}
      go-cache-from: ${{ needs.go-build.outputs.go-cache-name }}

  #############################################################################
  # Docker Jobs
  #############################################################################

  docker-build:
    name: Docker Build
    needs:
    - initialize
    - go-build
    uses: mooltiverse/nyx/.github/workflows/docker-build.yml@ghwfcache
    with:
      gradle-tasks: tasks
      verbosity: info
      install-jdk: true
      install-jdk-version: 20
      # Restore the cache from the previous job to 'chain' caches
      nyx-cache-from: ${{ needs.initialize.outputs.nyx-cache-name }}
      go-cache-from: ${{ needs.go-build.outputs.go-cache-name }}

  docker-publish:
    name: Docker Publish
    needs:
    - initialize
    - test
    - go-build
    - docker-build
    uses: mooltiverse/nyx/.github/workflows/docker-publish.yml@ghwfcache
    with:
      gradle-tasks: tasks
      verbosity: info
      # Avoid hitting the 10GB limit for GitHub Actions cache by using read-only mode on this job
      docker-cache-mode: read-only
      install-jdk: true
      install-jdk-version: 20
      # Restore the cache from the previous job to 'chain' caches
      nyx-cache-from: ${{ needs.initialize.outputs.nyx-cache-name }}
      gradle-cache-from: ${{ needs.docker-build.outputs.gradle-cache-name }}
      go-cache-from: ${{ needs.go-build.outputs.go-cache-name }}
      docker-cache-from: ${{ needs.docker-build.outputs.docker-cache-name }}
      enable-dockerhub-container-registry: true
      enable-github-container-registry: true
      dockerhub-user: ${{ vars.DOCKER_HUB_USERNAME }}
    secrets:
      dockerhub-token: ${{ secrets.DOCKER_HUB_TOKEN }}

  #############################################################################
  # Docusaurus Jobs
  #############################################################################
  docusaurus-build:
    name: Docusaurus Build
    needs:
    - initialize
    uses: mooltiverse/nyx/.github/workflows/docusaurus-build.yml@ghwfcache
    with:
      gradle-tasks: tasks
      verbosity: info
      install-jdk: true
      install-jdk-version: 20
      # Restore the cache from the previous job to 'chain' caches
      nyx-cache-from: ${{ needs.initialize.outputs.nyx-cache-name }}
  
  docusaurus-publish:
    name: Docusaurus Publish
    needs:
    - initialize
    #- test
    - docusaurus-build
    uses: mooltiverse/nyx/.github/workflows/docusaurus-publish.yml@ghwfcache
    with:
      gradle-tasks: tasks
      verbosity: info
      install-jdk: true
      install-jdk-version: 20
      # Restore the cache from the previous job to 'chain' caches
      nyx-cache-from: ${{ needs.initialize.outputs.nyx-cache-name }}
      gradle-cache-from: ${{ needs.docusaurus-build.outputs.gradle-cache-name }}
      docusaurus-cache-from: ${{ needs.docusaurus-build.outputs.docusaurus-cache-name }}
      path: 'docs/main/build'
      enable-github-pages: ${{ github.ref == 'refs/heads/main' }}
